*{
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url("../src/assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-size: 10px;
}
a{
    text-decoration: none;
    color: #000;
}