*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../public/assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
a{
    text-decoration: none;
    color: #000;
}