.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    .login_container{
        width: 350px;
        display: flex;
        flex-direction: column;
        padding: 0 15px 0 15px;
        .login_title{
            span{
                color: #fff;
                font-size: small;
                display: flex;
                justify-content: center;
                padding: 10px 0 10px 0;
            }
            h1{
                color: #fff;
                font-size: 30px;
                display: flex;
                justify-content: center;
                padding: 10px 0 10px;
                
            }

        }
        .login_form{
            .input_field{
                display: flex;
                flex-direction: column;
                padding: 10px 0;
                input{
                    height: 45px;
                    width: 87%;
                    border: none;
                    outline: none;
                    border-radius: 30px;
                    color: #fff;
                    padding: 0 0 0 45px;
                    background: rgba(255,255,255,0.1);
                }
            }
            .login_submit{
                width: 100%;
                border: none;
                border-radius: 30px;
                font-size: 15px;
                height: 45px;
                outline: none;
                background: rgba(255,255,255,0.7);
                cursor: pointer;
                transform: .3s;
                &:hover{
                    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2)
                }
            }
            .bottom{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: small;
                color: #fff;
                margin-top: 10px;
                .left{
                    label{padding: 0 5px;}
                }
                .right{
                    a{
                        color: white;
                    }
                }
            }
           
        }
    }

}
::-webkit-input-placeholder{
    color: #fff;
}