.bottom_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .loginButton{
        width: 100%;
        border: none;
        border-radius: 30px;
        font-size: 1.5rem;
        height: 45px;
        outline: none;
        background: rgba(255,255,255,0.7);
    }
    .login_prev{
        a{  
            font-size: small;
            color: #fff;
        }
        
    }
}